.root {
    background: rgba(255, 255, 255, .1);
    background-position: center center;
    background-size: cover;
    /* border: 2px solid rgba(255, 255, 255, .5); */
    border-radius: 50%;

    width: 100px;
    height: 100px;
}

.large {
    width: 250px;
    height: 250px;
}

.runes0 {
    background-image: url(/src/assets/graphics/disk/0.png);
}

.runes1 {
    background-image: url(/src/assets/graphics/disk/1.png);
}

.runes2 {
    background-image: url(/src/assets/graphics/disk/2.png);
}

.runes3 {
    background-image: url(/src/assets/graphics/disk/3.png);
}

.runes4 {
    background-image: url(/src/assets/graphics/disk/4.png);
}

.runes5 {
    background-image: url(/src/assets/graphics/disk/5.png);
}

.runes6 {
    background-image: url(/src/assets/graphics/disk/6.png);
}

.runes7 {
    background-image: url(/src/assets/graphics/disk/7.png);
}

.runes8 {
    background-image: url(/src/assets/graphics/disk/8.png);
}