.root {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form {
    display: flex;
    gap: 4em;

    font-family: inter;
    font-size: var(--typescale-2);
}

.form div {
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: flex-start;
}

.form label {
    display: flex;
    gap: .5em;
}

.form div:nth-of-type(2) label {
    flex-direction: column;
}

.form input[type="email"] {
    width: 240px;
    height: 32px;
}