.root {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 500px;
    gap: 3em;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.title {
    font-size: var(--typescale-4);
}

.detail {}