.root {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: .5em;

    font-size: var(--typescale-3);
    text-transform: capitalize;
    white-space: nowrap;
}

.rune {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .75em;
}