.root {
    display: flex;
    gap: 2em;
}

.link {
    display: flex;
    gap: .25em;
    align-items: center;

    color: white;
    font-family: inter;
    text-decoration: none;
    line-height: 1;
}